<header>
<h1>
  <img src="/meutelogo.png" /> 
  <%= @page_title %>
</h1>
<h2 class="<% if @door_open.to_i == 1 %>open<% else %>closed<% end %>">
  Der Keller ist <span class="door-state">
  <% if @door_open.to_i == 1 %>
    offen
  <% else %>
    geschlossen
  <% end %>
  </span>
  seit
  <span class="duration">
    <%= @duration %>
  </span>
</h2>
</header>

<div id="newentryform">
  <form method="post" name="form">
    <input name="source" size="15" value="web" hidden />
    <input name="message" id="messageInput" size="140" /><button type="submit">Send</button>
  </form>
</div>

<ul>
  <%
    dataS = Array.new @data
    @data.unshift nil

    (@data.zip dataS).each do |d, dPrev| if d != nil
  %>
    <li class="<% if d['door_open'].to_i == 1 %>open<% else %>closed<% end %><% if dPrev != nil %> <% if dPrev['door_open'].to_i == 1 %>was_open<% else %>was_closed<% end end %>">
    <div class="badge"><%= d['source'] %></div>
    <div class="message">
      <span class="time"><%= Time.parse(d['timestamp'] + "UTC").localtime.strftime("%Y-%m-%d %H:%M") %></span>
      <%= d['message'] %>
    </div>
    </li>
  <% end end %>
</ul>

<footer>
  <a href="https://github.com/MetaMeute/metameutestatus">Source Code</a> // 
  <a href="/rss">RSS</a>
</footer>
